
div {
  
}

#map {
    border-style: groove;
    border-color: beige;
    min-height: 60vh;
    min-width: 95vw;
    position: fixed;
    margin: 10px;

    color: black;
    

  }

 .twopanel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
  }


 body {
    margin-top: 9vh; 
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh;
    
 }

 

 .panelwindows {
    display: grid;
    gap: 5px;
    
 }





header {
    text-align: center;
    background-color: blanchedalmond;
    
    width: 100%;
    top: 0px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
    max-height: 8vh;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

h1 {
    color: rgb(37, 65, 37);
    text-align: center;

    letter-spacing: 10 px; 
    overflow: hidden;
    
    
      
}


.pagemain {
   /* position: absolute;
    //top: 100px; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

#journalUI {
    display: flex;
    width: 85vw;
    gap: 10px;
    min-height: 10vh;
    background-color: blanchedalmond;
    padding: 14px;
    border-radius: 9px;
    
 }

#logbook {
    background-color: transparent;
    display: flex;
    overflow-x: scroll;
    min-height: 10vh;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    min-width: 30vw;
    
   
}

.log {

    background-color: rgba(255, 248, 238, 0.786);
    border-radius: 25px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    max-height: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
    


}

.logheader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    border-bottom: 2px ridge rgba(0, 0, 0, 0.442);

}

.logbody {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    
    text-align: justify;
    text-indent: 10px;
    flex: 3;

}

.logdate {
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 0px;
}

.logtitle {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: calc(8px + 1.5vw);
    
}

#firstday, #currentday {
    display: flex;
    flex: 2;
}


html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(37, 65, 37, 0.53);
    overflow: hidden;

    
    
}

